.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 5px 20px;
  margin: 20px 30px;
  border-radius: 10px;
}

.weekButtons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.weekdays {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  //   background-color: #ff6839;
  //   color: #fff8f6;
  // width: 30px;
  padding: 0px 15px;
  // margin: 10px;
  border: 1px white solid;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

.today {
  background-color: #ff6839;
  color: #fff8f6;
  // padding: 10px;
  // border: 1px black solid;
  // padding-bottom: 10px;
}

.todaysDate {
  background-color: #ff6839;
  color: #fff8f6;
  padding: 5px;
  margin: 5px;
  border: 1px white solid;
  border-radius: 10px;
  cursor: pointer;
}

.selectMenu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.months {
  display: flex;
  // align-items: flex-start;
  // justify-content: space-evenly;
}

.icon {
  color: "#34354B";
  cursor: pointer;
  font-size: 30px;
}

.dotstyle{
  color: white;
}

// @media only screen and (max-width: 600px) {
//   .weekButtons {
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-evenly;
//   }
// }
