.stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards{
    cursor: pointer;
}

.totalBalance, .totalIncome, .totalExpense, .totalSavings{
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.totalBalance{
    background-color: rgb(205, 253, 253);
    padding: 20px;
}

.totalIncome{
    // background-color: #913CF3;
    background-image: linear-gradient(202deg, #913CF3, #7B30FA);
    padding: 20px;
}

.totalExpense{
    // background-color: #FF603C;
    background-image: linear-gradient(202deg, #FF603C, #FF6F39);
    padding: 20px;
}

.totalSavings{
    // background-color: #32334C;
    background-image: linear-gradient(202deg,  #32334C, rgb(79, 81, 117));
    padding: 20px;
}

.slider{
    width: 100%;
    height: 100%;
    margin: 30px 0;
}